main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-family: 'Roboto';
  font-style: 24px;
  color: coral;
}

.timer-setting {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  width: 250px;
  margin: 20px;
}

button {
  border-radius: 4px;
  width: 50px;
}
